{
"unity_path":"/Applications/Unity/Unity.app/Contents/MacOS/Unity",
"project_path":"/Users/minliu/iris_mac/Client",
"jrePath":"/Library/Java/JavaVirtualMachines/jdk1.8.0_191.jdk/Contents/Home/jre/lib",
"company_name":"Tencent",
"product_name":"irisfall",
"permissions_arget":"/Users/minliu"


}